
/* noel */

#presentation{
    background-image:url("../images/dear-santa.svg");
      min-height: 300px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 227px;
    background-position-y: 50%;
}


/* nouvel an */

/* #presentation{
    background-image:url("../images/happy-newyear.svg");
    min-height: 300px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 227px;
    background-position-y: 50%;
} 
@media screen and (max-width: 600px) {
   body #presentation {
      background-size: 197px;
    }
  } */

/* summer  */

/* #presentation{
    background-image:url("../images/summer\ time\ vibes.svg");
    min-height: 200px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 227px;
    background-position-y: -94%;
}  */



    /* halloween */
/* #presentation{
    background-image:url("../images/witch\ please.svg");
    height: 400px;
    background-repeat:no-repeat;
    background-position: center;
} 
body .btn{
  border: 3px solid #000;
  background-color: #FF9100;
}
@media screen and (max-width: 600px) {
   body  #presentation {
      background-size: 199px;
    }
  } */


    /* printemps (pacques) */

/* #presentation{
    background-image:url("../images/HangingWithPeeps.svg");
    height: 400px;
    background-repeat:no-repeat;
    background-position: center;
}  */